<div class="product-klarna-clearpay" data-keen-slider='{
    "id": "productKlarnaClearpay",
    "slides": {
      "perView": 1
    },
    "arrows": false,
    "autoplay": true,
    "autoplaySpeed": 3000,
    "pauseAutoplayOnHover": true,
    "loop": true,
    "dots": true
  }'>

  <div class="product-klarna-clearpay__item">
    {{klarna_block}}
  </div>
  <div class="product-klarna-clearpay__item">
    {{clearpay_block}}
  </div>

</div>