<div class="product__block__upsell" {{ block.shopify_attributes }}>
  {% case block.settings.upsell_type %}
    {% when 'product_single' %}
      {%- assign upsell_product_first = block.settings.product -%}
    {% when 'product_grouping' %}
      {%- assign upsell_product_first = block.settings.upsell_product_list | first -%}
  {% endcase %}

  {% comment %} Check for empty metafield references, but show a blankslate for them in the theme editor {% endcomment %}
  {%- if upsell_product_first and upsell_product_first.title != '' and upsell_product_first.selected_or_first_available_variant != nil -%}
    <h2 class="upsell__title">{{ block.settings.title }}</h2>

    <div class="upsell__holder">
      {% case block.settings.upsell_type %}
        {% when 'product_single' %}
          {% render 'product-clip-2', card_product: upsell_product_first %}
        {% when 'product_grouping' %}
          {%- for upsell_product in block.settings.upsell_product_list limit: block.settings.upsell_list_limit -%}
            {% render 'product-clip-2', card_product: upsell_product %}
          {%- endfor -%}
      {% endcase %}
    </div>

  {%- elsif request.design_mode -%}
    <h2 class="upsell__title">{{ block.settings.title }}</h2>
  
    <div class="upsell__holder">
      {% render 'onboarding-product-clip' %}
    </div>
  {%- endif -%}
</div>